html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --clr-primary: hsl(25, 97%, 53%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(217, 12%, 63%);
    --clr-neutral-300: hsl(216, 12%, 54%);
    --clr-neutral-400: hsl(213, 19%, 18%);
    --clr-neutral-500: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}